n8n-workflows/daily-scrape.json
{
  "name": "HorecaMark Daily Scrape",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Schedule Trigger (08:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "docker exec horecemark-scraper python -m scraper.main run --email"
      },
      "id": "docker-scrape",
      "name": "Run Scraper",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-error",
      "name": "IF Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.EMAIL_FROM }}",
        "toEmail": "={{ $env.EMAIL_TO }}",
        "subject": "[ERROR] HorecaMark Scraping Failed",
        "emailType": "html",
        "message": "=<h2>Scraping Error</h2><p>The daily scraping job has failed.</p><h3>Error Details:</h3><pre>{{ $json.error }}</pre><h3>Timestamp:</h3><p>{{ $now.toISO() }}</p>",
        "options": {
          "attachments": []
        }
      },
      "id": "email-error",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1000, 200],
      "credentials": {
        "smtp": {
          "id": "CONFIGURED_SMTP",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.EMAIL_FROM }}",
        "toEmail": "={{ $env.EMAIL_TO }}",
        "subject": "[OK] HorecaMark Daily Report",
        "emailType": "html",
        "message": "=<h2>Daily Scrape Completed</h2><p>The scraping job has completed successfully.</p><h3>Summary:</h3><pre>{{ $json }}</pre><h3>Timestamp:</h3><p>{{ $now.toISO() }}</p>",
        "options": {
          "attachments": "={{ ['/app/reports/horecemark_' + $now.format('yyyy-MM-dd') + '.xlsx'] }}"
        }
      },
      "id": "email-success",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1000, 400],
      "credentials": {
        "smtp": {
          "id": "CONFIGURED_SMTP",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "horecemark-logs",
          "mode": "name"
        },
        "data": "=<json>{{ $json }}</json>",
        "options": {}
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1250, 300],
      "credentials": {
        "googleApi": {
          "id": "OPTIONAL_GOOGLE_SHEETS",
          "name": "Google Sheets API"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Schedule Trigger (08:00)": {
      "main": [
        [
          {
            "node": "Run Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Scraper": {
      "main": [
        [
          {
            "node": "IF Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Error": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Email": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report Email": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "tag-daily",
      "name": "daily"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "tag-scraping",
      "name": "scraping"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
